<!DOCTYPE html>
<html>
<head>
    <title>Resultado do Autômato</title>
</head>
<body>

    <h1>Resultado do Autômato</h1>

    <h2>Alfabeto</h2>
    <ul>
        {% for simbolo in alfabeto %}
            <li>{{ simbolo }}</li>
        {% endfor %}
    </ul>

    <h2>Estados</h2>
    <ul>
        {% for estado in estados %}
            <li>{{ estado }}</li>
        {% endfor %}
    </ul>

    <h2>Estado Inicial</h2>
    <p>{{ inicial }}</p>

    <h2>Estados Finais</h2>
    <ul>
        {% for estado in finais %}
            <li>{{ estado }}</li>
        {% endfor %}
    </ul>

    <h2>Transições</h2>
    <ul>
        {% for transicao in transicoes %}
            <li>{{ transicao }}</li>
        {% endfor %}
    </ul>

    <h2>Combinações de Estados</h2>
    <ul>
        {% for combinacao in combinacoesDict.items %}
            <li>{{ combinacao }} {{ valor }}</li> <!-- Mostrando os dois estados da combinação -->
        {% endfor %}
    </ul>
    
</body>
</html>